<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<!--声明变量 -->
 <property name="prj.name" value="jee2018"/>
 <property name="log.home" value="${sys:catalina.home}/logs"/>
<!--输出位置 -->
 <Appenders>
     <Console name="Console" target="SYSTEM_OUT">
       <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
 </Appenders>
<!--哪些类的什么级别的信息输出到哪 -->
<Loggers>
<Root level="debug">
   <AppenderRef ref="Console"/>
</Root>
</Loggers>
</Configuration>

